.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid blue;
  }

  .container-fluid {
    background-color: lightskyblue;
  }

  .card-title {
    text-align: center;
  }

  .card {
    border-color: mediumaquamarine;
    border-width: medium;
  }

  #today {
    border-color: mediumaquamarine;
    border-width: medium;
  }

  #forecast {
    font-size: smaller;
    display: inline;
  }